p,h1,h2
{
font-family: verdana,Geneva,Arial;
}
html,h1,h2
{
font-size: 12px;
font-size: 2.2em;
font-size: 1.3em;
}

h2{
font-weight: normal;
}
blockquote
{
font-style: italic;
}
h1,h2{
color: #c60;
border-bottom: thin dotted #888;
}
*{
padding: 0px;
margin: 0px;
}

