body {
	font-size: small; 
	font-family: Verdana， Helvetica， Arial;
  line-height: 1.6em;
}

h1, h2 {
	color: #007e7e; 
}
h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}
.guarantee{
border: 1px,dashed,white;
background: #a7cece,url(images/background.gif),no-repeat;
padding: 25px;
margin: 30px;
line-height: 1.9em;
font-style: italic;
color:#444;
font-family: Georgia, 'Times New Roman';
background-position: top left;
padding: 25px;
padding-left: 80px;
margin-right: 250px;
border-style: solid;
border-top-right-radius: 3em; 
border-bottom-left-radius: 3em;
}
.elixirs{
border-width: thin;
border-style: solid;
border-color: #007e7e;
width: 200px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
margin-left: 20px;
background-image: url(images/cocktail.gif);
background-repeat: repeat-x;
text-align: center;
line-height: 1;
}
div h2{
color: black;
}
div h3{
color: #d12c47;
}
.footer{
font-size: ;
}
.elixirs a:link {
  color: #007e7e;
}

.elixirs a:visited {
  color: #333333;
}

.elixirs a:hover {
  background: #f88396;
  color: #0d5353;
}

